header{
  position: absolute;
  width: 100%;
  padding: 26px 0;
  z-index: 3;

  @include breakpoint(medium) {
    padding: 14px 0;
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  img{
    height: 30px;
    width: auto;
  }

  ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @include breakpoint(medium) {
      display: none;
    }

    a{
      font-size: 18px;
      font-weight: 600;
      color: $purple;
      text-decoration: none;
      margin-left: 20px;
      transition: 0.2s ease-in-out;
      position: relative;

      &:after{
        position: absolute;
        width: 100%;
        height: 4px;
        background: $purple;
        content: '';
        left: 0;
        bottom:-7px;
        transform: scale(0,1);
        transition: transform .2s cubic-bezier(.25,.46,.45,.94),-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
      }
      &:hover{
        &:after{
          transform: scale(1,1);
        }
      }
    }
  }

  .current_page_item{
    a{
      &:after{
        transform: scale(1,1);
      }
    }
  }

  li{
    &:last-child{
      a{
        border-radius: 20px;
        border: solid 1px $purple;
        padding: 8px 18px;

        &:after{
          display: none;
        }

        &:hover{
          background: $purple;
          color: white;
        }
      }
    }
  }
}

.header-content{
  display: flex;
  align-items: center;

  @include breakpoint(medium) {
    display: none;
  }
}

#flags_language_selector{
  margin-left: 15px;

  img{
    margin-left: 10px;
    height: 23px;
  }
}

// --------- HAMBURGER STYLING --------------

.hamburger{
  display: none;
  padding: 0;
  outline: none;

  @include breakpoint(medium) {
    display: block;
  }

  &:hover{
    .hamburger-inner:before {
      width: 100%;
    }
  }
}

.hamburger-box{
  width: 25px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  width: 100%;
  border-radius: 0;
  background-color: $purple;
}
.hamburger-inner:after{
  bottom: -8px;
}
.hamburger-inner:before {
  top: -8px;
  width: 50%;
  transition: top .1s .34s ease-in, opacity .1s ease-in, width .2s !important;
}

// --------- MOBILE MENU STYLING --------------

.mobile-menu{
  width: 100%;
  height: calc(100vh - 84px);
  background: #ffffff;
  top: 84px;
  left: 0;
  position: fixed;
  transition: transform 0.3s ease-in-out;
  z-index: 90;
  display: none;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint(medium) {
    top: 62px;
    height: calc(100vh - 62px);
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0;
    left: -20px;
    position: relative;


    &:hover{
      background: rgba(0,0,0,.1);
      transition: 0.2s ease-in-out;
      transition-delay: 0s !important;
    }
  }

  a{
    font-size: 20px;
    color: $purple;
    text-decoration: none;
    width: calc(100% - 60px);
    height: 100%;
    padding: 20px 30px;

    @include breakpoint(tablet) {
      padding: 18px 15px;
      width: calc(100% - 30px);
    }
  }

  .current-menu-item{
    a{
      text-decoration: underline;
    }
  }
}

.mobile-links{
  li{
    opacity: 1;
    left: 0;
    transition: opacity 0.1s ease-in-out, left 0.2s ease-in-out;
    transition-delay: 0.1s;
  }

  li:nth-child(2) {
    transition-delay: 0.2s; /* So they look staggered */
  }
  li:nth-child(3) {
    transition-delay: 0.3s; /* So they look staggered */
  }
  li:nth-child(4) {
    transition-delay: 0.4s; /* So they look staggered */
  }
  li:nth-child(5) {
    transition-delay: 0.5s; /* So they look staggered */
  }
  li:nth-child(6) {
    transition-delay: 0.6s; /* So they look staggered */
  }
}

/*------------------FOOTER STYLING--------------------*/

footer{
  display: flex;
  border-top: 2px solid #f2f2f2;
  padding-top: 22px !important;
  padding-bottom: 41px !important;
  justify-content: space-between;

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: flex-start;

  }

  #lang_sel a, #lang_sel a.lang_sel_sel {
    border-radius: 3px;
    background-color: #eeeeee !important;
    font-size: 14px;
    color: #262626;
  }

  #lang_sel{

    a{
      padding: 7px 10px;
      box-sizing: border-box;
      width: 180px;

    }
    a.lang_sel_sel{
      background: none;
    }
    ul{
      border-top: 0 !important;

      ul{
        li{
          top:15px;

          a{
            padding: 13px 10px;
          }
        }
      }
    }
    li{
      width:180px;
    }
  }
}

.footer-item{
  margin-top: 11px;
  width: 100%;
  max-width: 238px;

  a{
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: $purple;
    text-decoration: none;
    transition: 0.2s ease-in-out;

    &:hover{
      color: darken($purple, 20%);
    }
  }

  p, span{
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #5f5f5f;
    display: inline-block;
  }
  span{
    color: #262626;
  }
}

.footer-content{
  margin-bottom: 16px;
}

.footer-section{
  display: flex;
}

.footer-dropdown{
  position: relative;

  @include breakpoint(mobile) {
    margin-top: 20px;
  }

  i{
    position: absolute;
    right: 8px;
    top: 8px;
    color: $purple;
  }
}